$mainColor:  rgb(161, 151, 130);
$secondaryColor: rgb(68, 64, 66);
$keyColor: rgb(15, 14, 14);
$white: rgb(237, 233, 233);
$darkColor: rgb(94, 95, 95);

$mainFont: 'Roboto', sans-serif;

//weight

$textRegular: 400;
$textLight: 300;
$textBold: 600;

//size

$textSm: 1em;
$textMd: 1.6em;
$textLg: 2em;
$textXl: 3em;

